<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/public/dist/style.bundle.css' />
    <script src="/public/dist/main.bundle.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
