<html>
    <head>
        <link rel="stylesheet" href="./dist/style.bundle.css">
        <script src="./dist/main.bundle.js"></script> 
    </head>
    <body>
        <div class="content">
            <div style="height: 25%; padding: 5% 40%;">
                <h2 >QA Forum</h3>
            </div>
            <div class="jumbotron col-sm-6 mx-auto" style="background-color: white">
                <form method="POST" action="/auth">
                    <!-- <h1 class="display-4 text-center">QA Forum</h1> -->
                    <div class="form-group">
                        <input name="emailId" type="email" class="input-box form-control mtb-10" placeholder="Email Id">
                        <input name="password" type="password" class="input-box form-control mtb-10" placeholder="Password">
                        
                    </div>
                    <button type="submit" class="btn btn-primary col-sm-12 input-box">Login</button>
                </form>
            </div>
        </div>

        <script>
            $(document).ready( () => {
                console.log("Dom is ready...");
            });
        </script>
    </body>
</html>